/* Ella Adam
11/17/2020*/

body {
	font-size: 15px;
	background-color: #800000;
}

.header {
	width: 100%;
	float: right;
	position: relative;
}

/*IMAGE*/
.header img {
	width: 240px;
	height: 170px;
	float: left;
	border-radius: 8px;
	border-style: inset;
	background-color: #dfbe58;
	border: 2px solid #dfbe58;
	padding: 10px;
}

.header h1 {
	font-family: Quicksand;
	text-align: center;
	font-size: 60px;  
	color: black;
	text-shadow: 2px 2px #740a01;
	text-decoration: underline;
	border: 2px solid;
	border-radius: 8px;
	border-style: inset;
	background-color: #dfbe58;
	padding: 20px 10px 30px 10px;
}
/*SIDEBAR END*/

/*IFRAME*/
iframe {
	display: block;
	margin: auto;
	width: 80%;
	height: 700px;
	position: relative;
}
/*IFRAME END*/



/*SIDEBAR*/
.sidebar {
	font-size: 25px;
	height: 699px;
	width: 300px;
	background-color: #B99566;
	border: 4px solid #dfbe58;
	color: black;
}

.sizes {
	float: left;
}

.sizes h2 {
	font-size: 30px;
}

.sizes p {
	font-size: 25px;
}

