/*layout.css
Ella Adam
13/03/2020*/

.header {
	width: 100%;
	float: right;
	position: relative;
	grid-area: header;
	background-image: url(leader.png);
}

/*IMAGE*/
.header img {
	width: 240px;
	height: 190px;
	border-radius: 8px;
	border-style: inset;
	background-color: #dfbe58;
	border: 2px solid #dfbe58;
	padding: 10px;
}

.header h1 {
	font-family: Quicksand;
	text-align: center;
	font-size: 70px;  
	color: black;
	text-shadow: 2px 2px #740a01;
	text-decoration: underline;
	border: 2px solid #dfbe58;
	border-radius: 8px;
	border-style: inset;
	background-color: #dfbe58;
	padding: 25px 10px 30px 10px;
}


.menu {
	background-color: #B99566;
	border: 4px solid #dfbe58;
	border-radius: 20px 1px 1px 1px;
	color: black;
	grid-area: menu;
}

.main {
	background: #800000;
	border-radius: 1px 20px 1px 1px;
	color: white;
	border: 4px solid #dfbe58;
	grid-area: main;
}

/*PAGE 1*/
.main iframe {
	grid-area: main;
	height: 100%;
	width: 100%;
}

.footer {
	display: block;
	background: #CAAD54;
	color: black;
	border-radius: 1px 1px 40px 40px;
	border: 4px solid #CAAD54;
	grid-area: footer;
	text-align: center;
	height: 70%;
}

.footer table {
	font-size: 20px;
}

/*FOOTER MARGIN LEFT*/
.moveleft {
	margin-left: 15%;
	float: left;
	font-size: 20px;
}

/*FOOTER MARGIN CENTER*/
.staycenter {
	margin-left: 23%;
	float: left;
	font-size: 20px;
}

/*FOOTER MARGIN RIGHT*/
.moveright {
	margin-right: 5%;
	float: right;
	font-size: 20px;
}

/* unvisited link */
a:link {
  color: black;
}

/* mouse over link */
a:hover {
  color: #740a01;
}

/* selected link */
a:active {
  color: white;
}
a:visited {
	color: white;
}

body  {
	margin: 0;
	font-family: Quicksand;
	background-color: #1e1e1e;
	height:100%;
	display: grid;
	grid-template-areas:  
	'header header header header header header header header header header'
	'menu main main main main main main main main main'
	'menu main main main main main main main main main'
	'menu main main main main main main main main main'
	'menu main main main main main main main main main'
	'menu main main main main main main main main main'
	'menu main main main main main main main main main'
	'menu main main main main main main main main main'
	'menu main main main main main main main main main'
	'footer footer footer footer footer footer footer footer footer footer';
}

div {
		text-align: center;
}
	