body {
	font-size: 25px;
}

h1, p {
	text-align: center;
}

.border {
	display: block;
	width: 100%;
	color: black;
	border: 2px solid;
	border-radius: 5px;
	border-style: inset;
	background-color: gray;
}
	

/*IMAGE*/
img {
	width: 1050px;
	height: 1000px;
	border-radius: 8px;
	border-style: inset;
	background-color: white;
	border: 2px solid white;
	padding: 2px;
}

