/* Ella Adam
11/06/2020*/

body {
background: black;
color: white;
}

/* CONTENT */

.content {
width: 85%;
}


/* SIDEBAR */

.sidebar {
width: 14%;
border-color: white;
}


#grad {
	background-image: linear-gradient(black, gray, black);
}
