/* Ella Adam
11/06/2020*/

body {
		  background-color: #FAFAD2;
		  color: black;
		}

#grad {
	background-image: linear-gradient(#FAFAD2, white, #FAFAD2);
}

/* CONTENT */

.content {
width: 85%;
}


/* SIDEBAR */

.sidebar {
width: 14%;
border-color: black;
}