body{
    background-color: #000;
    color: white;
    font-family: Quicksand ;
}

#canvas{
    margin-left: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 55px;
    background-color: plum;
    
}

form {
    font-size: 40px;
}

input {
    font-size: 35px;
    font-family: Quicksand ;
    
}