.pizza {
	background-image: url("./pizza_logo.jpg");
	width: 100%; 
	background-color:DarkSlateGray;
	border: 1px solid #66CDAA;
	padding: 0;
	border-radius: 8px;

}

.sauce {
	background-image: url("./sauces.jpg");
	width: 30%; 
	background-color:DarkSlateGray;
	border: 1px solid #66CDAA;
	padding: 0;
	border-radius: 8px;
	margin-top: 1%;
	margin-left: 35%;
}
	

.sections {
	color: black; 
	font-weight: bold;
	font-size: 40px; 
	text-align:center;
	text-shadow: 3px 3px white;
	background-color: #C8C1B1;
}

.smaller {
	color: black; 
	font-weight: bold;
	font-size: 25px; 
	text-align:center;
	text-shadow: 1px 1px white;
	background-color: #C8C1B1;
}
	

.snacks {
	border: 5px solid #808080;
	padding: 5px;
	width: 60%;
	color: white;
	background-color: #2F4F4F;
	margin: auto;
	margin-top: 20px;
	text-align:center; 
	font-size: 30px;
}
	

.table {
	border: 5px solid #808080;
	padding: 5px;
	width: 40%;
	height: 10%;
	color: white;
	background-color: #2F4F4F;
	margin: auto;
	margin-top: 20px;
	text-align:center; 
}

table, td {
	background-color: #2F4F4F;
	text-align:center; 
	border: 4px solid #808080;
	border-collapse:collapse; 
	margin-top: 50px;
	margin: auto;
	padding:5px;
	font-size: 25px; 
	color:white;
}

th {
	font-size:30px;
	padding:10px;
}

td {
	font-size:18px;
}	
			
